{% extends 'lab_base.html' %}
{% block title %}Nodes | {{ block.super }}{% endblock title %}
{% block content %}
    <div class="container">
        <h2>Nodes</h2>

        <div class="portlet">
            <div class="portlet-body">
                {% if object_list %}
                    {% for node in object_list %}
                        {{ node }}
                    {% endfor %}
                {% else %}
                    <p>No Nodes.</p>
                {% endif %}

            </div>
        </div>
    </div>
{% endblock content %}