{% extends 'base.html' %}
{% block title %}Change Password - {{ block.super }}{% endblock %}
{% block content %}
    <div class="container-fluid">
        <div class="row-fluid">
            <form class="well form-horizontal span6 offset3" method="post">
                {% csrf_token %}
                {% include 'subtemplates/bootstrap_form.html' %}
                <div class="control-group">
                    <div class="controls">
                        <button type="submit" class="btn btn-primary">Submit</button>
                    </div>
                </div>
            </form>
        </div>
    </div>
{% endblock %}